body, html {
  height: 100%;
  /* margin: 0; */
  font:400 15px/1.8 "Lato", sans-serif;
  color:#777;
}

div {
  display:block;
  padding-bottom: 0%;
}

.bg {
  /* The image used */
  background-image: url("/static/img/DSC_0643.JPG");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  position: relative;
  opacity: 0.65;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 0%;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  opacity: 0.85;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/

#about {
  background: url("../img/about-bg.jpg");
  background-size: cover;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding: 60px 0 40px 0;
}

#about:before {
  content: "";
  background: rgba(13, 20, 41, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#about h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

#about h3 {
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #fff;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

#about p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #fff;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

